# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.cache

# PyCharm
.idea/

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Profiling data
.prof

# Environments
.env
.env.*
*.env

# SQL database files
*.sqlite3
*.db

# Logs
*.log

# MacOS
.DS_Store

# System Files
Thumbs.db
Desktop.ini
